
body,html{
	font-family: 'Lato' , 'sans-serif';
	color:#5a5a5a;
}

h3{
	font-size: 18px;
	font-weight: 900;
	text-transform:uppercase;
}

h4{
	font-size: 18px;
	letter-spacing:1px;
	text-transform:uppercase;
}

h2{
	text-transform:uppercase;
	line-height:20px;
	
}
 h2 strong{
	font-weight:bold;
 }
.section-title hr{
	border-color:#fcac45;
	width:60px;
	border-width:4px;
	float:left;
	clear:both;
}
a:hover,
a:focus{
	color: #FCAC45;
	text-decoration:none;
}

#tf-menu.navbar-default{
	padding:20px;
	transition:all 0.8s;
}

#tf-menu.navbar-default{
	background-color:rgba(248,248,248,0);
	border-color:rgba(231,231,231,0);
}

#tf-menu .navbar-brand{
	text-transform:uppercase;
	font-size:22px;
	font-weight:bold;
    color:#FFF; 
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active:hover,
.navbar-default .navbar-nav > .active:focus{
	
}

.navbar-default .navbar-nav > li > a{
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1px;
	color:#FFF;
}

.navbar-toggle{
	border-radius:0;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #FCAC45;
	border-color: #FCAC45;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

/*--============Start tf-home style
====================== --*/

#tf-home{
	background: url(../Images/01.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
} 

#tf-home .overlay{
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8), rgba(0,0,0,0.73), rgba(0,0,0,0.66), rgba(0,0,0,0.55), rgba(0,0,0,0.4));
	height:700px;
}

.content{
	padding:20% 0 0;
	position:relative;
}


a.fa.fa-angle-down{
	padding:10px 15px;
	color:#FFF;
	border-radius:50%;
	border:2px solid #b4b4b4;
	margin-top:200px;
	transition:all 0.5s;
	font-size:24px;
	
}

a.fa.fa-angle-down:hover{
	background:#FCAC45;
}

.color{
	color:#FCAC45;
}

.content h1{
	font-size:42px;
}

/*--- ============ start About section
==============----*/
#tf-about{
	padding:80px 0;
}

ul.about-list{ margin: 30px 0 0 ;}
ul.about-list li{
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
}
ul.about-list li span{ 
	margin-right: 10px;
}
p.intro{
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

/*--------- start team section============= ----*/

#tf-team{
	margin:0 auto;
}

#tf-team{
	background:url(../Images/icon.jpg);
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	color:#FFFFFF;
}
	
#tf-team .overlay{
	padding:80px 0;
	background:rgba(0,0,0,0.34);
}

.section-team h2{
	color:#F2F2F2;
	font-weight:200;
	padding:15px 0;
}

.section-team .hr-style{
	border-top:4px solid #FCAC45;
	width:60px;
	height:40px;
	text-align:center;
	margin:0 auto;
}

.section-team .hr-style hr{
	border-top:4px solid rgba(252, 172, 69, 0.34);
	width:40px;
	position:relative;
	margin-top:10px;
}

#tf-team .item{
	margin:15px;
	padding:0;
	color:#FFFFFF;
	text-align:center;
}

.img-item{
	width:120px; 
	height:120px;
	border:4px solid transparent;
	transition:all 0.5s;
}

.thumbnail:hover > .img-item{
	border:4px solid #FCAC45;
}

.item .thumbnail{
	background:transparent;
	border:0;
}

.item .caption{
	color:#F2F2F2;
}

.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background:#FFF;
	transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background:#FCAC45;
}
/*-- ============== strat service section  --*/

#tf-service{
	padding:80px 0;
}

.space{
	margin-top:60px;
}

.section-services h2{
	color:#000000;
	padding:15px 0;
	font-weight:300;
}

.section-services .service-style{
	border-top:4px solid #FCAC45;
	width:60px;
	height:40px;
	text-align:center;
	margin:0 auto;
}

.section-services .service-style hr{
	border-top:4px solid rgba(252, 172, 69, 0.34);
	width:40px;
	position:relative;
	margin-top:10px;
}

#tf-service i.fa{
	font-size:40px;
	border:4px solid #FCAC45;
	padding:27px 25px;
	border-radius:50%;
	width:100px;
	height:100px;
	transition:all 0.5s;
	margin-bottom:10px;
}

#tf-service i.fa.fa-mobile{
	font-size:50px;
	padding:20px 25px;
}

#tf-service .services:hover>i.fa{
	background:#FCAC45;
	color:#FFF;
}

/*-- ======= Satart our Clients section  ---*/

#tf-client{
	background:url(../Images/04.jpg);
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	color:#FFF;
}

#tf-client .overlay{
	padding:80px 0;
	background:rgba(0,0,0,0.55);
	height:auto;
}

/*-- === start portfolio section ==== ---*/

.portfolio-item{
	margin-bottom:20px;
}

#tf-works .section-team h2{
	color:#000000;
	font-weight:300;
}

#tf-works{
	padding:80px 0;
}

ul.type1{
	margin:0;
	padding:0;
}

ul.type1 li.pull-right{
	margin-top:10px;
}

ul.type1 li{
	display:inline-block;
}

ul.type1 ol.type2 li{
	display:inline-block;
	margin-left:20px;
}

ol.type2 li a.active{
	font-weight:700;
}

ol.type2 li:after{
	content:" | ";
	margin-left:20px;
}

ol.type2 li:last-child:after{
	content:" ";
}

.portfolio-item .hover-bg{
	position:relative;
}

.hover-bg .hover-text{
	position:absolute;
	background:rgba(0,0,0,0.66);
	color:#fff;
	width:100%;
	height:100%;
	margin:0 auto;
	text-align:center;
	padding:25% 0;
	opacity:0;
	transition:all 0.5s;
}

.hover-bg:hover .hover-text{
	opacity:1; 
}

.hover-text i.fa{
	border:1px solid  #FCAC45;
	color: #FCAC45;
	font-size:20px;
	width:30px;
	height:30px;
	border-radius:50%;
	padding:5px;
	margin-top:20px;
}

/*------- ============ strat portfolio item ========= ---*/

#tf-testimonial{
	background:url(../Images/05.jpg);
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	color:#fff;
	
}

#tf-testimonial .overlay{
	background:rgba(0,0,0,0.55);
	padding:80px 0;
	height:auto;
}


#testimonial{
	padding:30px 0;
	
}

#testimonial .item{
    display: block;
    width: 100%;
    height: auto;
}

#testimonial .item p{
	font-weight: 400;
	margin: 30px 0;
	color: #d1d1d1;
}

/*--- ======== start contact section -----------*/

.space1{
	margin-bottom:20px;
}

#tf-contacts{
	padding:80px 0;
}

#tf-contacts .section-team h2{
	color:#000000;
	font-weight:400;
}

label{
	float:left;
	font-weight:400;
	font-size:12px;
	font-family:'Open Sans' ,sans-serif;
}

button.btn.tf-btn.btn-default{
	float:right;
	background:#FCAC45;
	border:0;
	border-radius:0;
	padding:10px 35px;
	text-transform:uppercase;
	color:#ffffff;
}

/*--- ==== footer part -- ===== ---*/
nav#footer{
	background: #222222;
	color:#ffffff;
	padding:20px 0 15px 0;
}

#footer .social-footer li{
	display:inline-block;
	margin-left:5px;
}

#footer i.fa{
	width:30px;
	height:30px;
	border:2px solid #8c8c8c;
	transition:all 0.5s;
	border-radius:50%;
	padding:4px 5px;
	font-size:20px;
}

#footer i.fa:hover{
	background:#FCAC45;
	color:#ffffff;
}


